# ===== Templates / External =====
DSL-report-template/

# ===== Outputs / Logs =====
classifica_timestamp.txt

# ===== Debug / Temporary =====
debug.ipynb
check_overlap_deberta_roberta.ipynb
# ===== Submissions / Final runs =====
news_classifier_0_745.ipynb
two_stage_model_optuna_best_parameters.ipynb
two_stage_model_submission.ipynb
src/EDA.ipynb
trash_backup/
report_latex/
# ===== Models & Predictions =====
src/Three_Stage_with_bert/
src/deberta_prediction/
latex_repo/
src/roberta_prediction/
data/submission/submission_three_stage_bert.csv
data/submission/submission_daBerta_raw.csv
# ===== Generic safety =====

.ipynb_checkpoints/